NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/lab_report_blockchain?schema=public
JWT_SECRET=your_super_secret_key
JWT_EXPIRES_IN=1d
UPLOAD_DIR=uploads
HARDHAT_RPC_URL=http://127.0.0.1:8545
CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
CHAIN_SIGNER_PRIVATE_KEY=your_private_key_here
