NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/lab_report_blockchain?schema=public
JWT_SECRET=your_super_secret_key
JWT_EXPIRES_IN=1d
BCRYPT_SALT_ROUNDS=10
UPLOAD_DIR=uploads
MAX_FILE_SIZE_MB=10
BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545
BLOCKCHAIN_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
BLOCKCHAIN_PRIVATE_KEY=replace_with_hardhat_account_private_key
